<div class="album-details" *ngIf="album">
  <ng-container *ngFor="let detail of details">
      <span>{{detail.title}}:{{album[detail.key]}}</span>
  </ng-container>
  <img *ngIf="isIncludeImg && album.images.length>0" [style.height.px]="album.images[0].height" [style.width.px]="album.images[0].width" [src]="album.images[0].url"/>
</div>